
<ion-view view-title="Password Change">
<ion-nav-bar class="bar bar-header bar-balanced">
    <ion-nav-back-button>         
 </ion-nav-back-button>

  </ion-nav-bar>
 

    <ion-content>
    <ion-grid>
    <div class="list">
            <label class="item item-input item-stacked-label">
    <span class="input-label">Actual Password</span>
        <input type="password"  ng-model="password.old_password" >
    </label>
    
            <label class="item item-input item-stacked-label">
    <span class="input-label">New Password</span>
        <input type="password"  ng-model="password.pass1" >
    </label>    
    
            <label class="item item-input item-stacked-label">
    <span class="input-label">Confirm the password</span>
        <input type="password"  ng-model="password.pass2" >
    </label>
    </div>
<button class="col-offset-33 button button-balanced " ng-click="save(password.old_password)">SAVE</button>
    </ion-grid>
    </ion-content>
</ion-view>



